body {
    background-color: #8C52FF;
    font-family: Arial, sans-serif;
    overflow-y: scroll; /* Adiciona uma barra de rolagem vertical */
}

/* Estilo para a barra de navegação */
.navbar-container {
    background-color: #854CD6;
    background-size: 10px;
    border-radius: 10px;
    margin-left: 25%; /* Margem esquerda responsiva */
    margin-right: 25%; /* Margem direita responsiva */
    padding: 20px; /* Espaçamento interno */
    display: flex; /* Ativa o layout flexível */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
}


/* Estilo para o logotipo */
.title img {
    margin-right: 5%; /* Margem direita responsiva */
    border-radius: 20px;
    width: 200px; /* Define a largura da imagem */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona sombra */
}

/* Estilo para o título */
.title {
    display: flex; /* Usa flexbox para alinhar os itens */
    align-items: center; /* Alinha os itens verticalmente */
}

/* Estilo para o campo de busca e botão */
#input-game {
    padding: 8px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 1px solid #ccc; /* Borda sólida */
    border-radius: 4px; /* Borda arredondada */
    max-width: 300px; /* Largura máxima */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona sombra */
}

#btn-moralize {
    display: flex;
    align-items: center;
    margin-left: 8px;
    padding: 8px 16px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    background-color: #4CAF50; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 4px; /* Borda arredondada */
    cursor: pointer; /* Cursor de apontar */
    transition: background-color 0.3s; /* Transição suave */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona sombra */
}

/* Estilo para o botão de busca quando passa o mouse sobre ele */
#btn-moralize:hover {
    background-color: #45a049; /* Cor de fundo ao passar o mouse */
}

/* Estilo para tornar a barra de navegação responsiva */
@media only screen and (max-width: 768px) {
    .navbar-container {
        flex-direction: column; /* Altera a direção do layout para coluna */
        align-items: flex-start; /* Alinha os itens à esquerda */
        padding: 10px; /* Reduz o padding */
        margin: 10%;
    }
    .title img {
        align-items: flex-start;
        flex-direction: column;
        width: 100px; /* Reduz a largura da imagem */
    }
    #input-game {
        align-items: flex-start;
        flex-direction: column;
        padding: 5px;
        width: 150px;
    }
    #btn-moralize {
        align-items: flex-start;
        flex-direction: column;
        padding: 5px;
        width: 100px; /* Define a largura máxima como 100px */
    }
}


/* Botões SNES */
#show-or-hide-snes {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Adiciona sombra ao texto, ajuste conforme necessário */
    background-color: #cfcfd2a6;
    border: 1px solid #5C3994; /* Borda mais sólida */
    color: #5c3994;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 8px;
    margin: 8px auto; /* Centralizar e adicionar margem superior e inferior */
    cursor: pointer;
    border-radius: 8px; /* Menos arredondado */
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
    max-width: 200px; /* Define a largura máxima */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona sombra */
}

#show-or-hide-snes img {
    vertical-align: middle; /* Alinha verticalmente a imagem com o texto */
    margin-right: 5px; /* Adiciona espaço à direita da imagem */
    max-width: 120px; /* Define a largura máxima da imagem */
}


/* Botões Mega Drive/Genesis */
#show-or-hide-md {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona sombra ao texto, ajuste conforme necessário */
    background-color: #a0a0a0;
    border: 1px solid #3d3d3d;
    color: #3d3d3d;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px auto; /* Centralizar e adicionar margem superior e inferior */
    margin-left: 8px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
    max-width: 200px; /* Define a largura máxima */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona sombra */
}

#show-or-hide-md img {
    vertical-align: middle; /* Alinha verticalmente a imagem com o texto */
    margin-right: 5px; /* Adiciona espaço à direita da imagem */
    max-width: 120px; /* Define a largura máxima da imagem */
}

/* Botões Nintendo */
#show-or-hide-nes {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Adiciona sombra ao texto, ajuste conforme necessário */
    background-color: #E4000F;
    border: 1px solid #E9E2CF;
    color: #E9E2CF;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px auto; /* Centralizar e adicionar margem superior e inferior */
    margin-left: 8px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
    max-width: 200px; /* Define a largura máxima */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona sombra */
}

#show-or-hide-nes img {
    vertical-align: middle; /* Alinha verticalmente a imagem com o texto */
    margin-right: 5px; /* Adiciona espaço à direita da imagem */
    max-width: 120px; /* Define a largura máxima da imagem */
}

/* Botões Sega Master System */
#show-or-hide-sms {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona sombra ao texto, ajuste conforme necessário */
    background-color: #a0a0a0;
    border: 1px solid #C2C6C9;
    color: #3d3d3d;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px auto; /* Centralizar e adicionar margem superior e inferior */
    margin-left: 8px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
    max-width: 200px; /* Define a largura máxima */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona sombra */
}

#show-or-hide-sms img {
    vertical-align: middle; /* Alinha verticalmente a imagem com o texto */
    margin-right: 5px; /* Adiciona espaço à direita da imagem */
    max-width: 120px; /* Define a largura máxima da imagem */
}

/* Botões Playstation */
#show-or-hide-psone {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona sombra ao texto, ajuste conforme necessário */
    background-color: #3b3434;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px auto; /* Centralizar e adicionar margem superior e inferior */
    margin-left: 8px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
    max-width: 200px; /* Define a largura máxima */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona sombra */
}

#show-or-hide-psone img {
    vertical-align: middle; /* Alinha verticalmente a imagem com o texto */
    margin-right: 5px; /* Adiciona espaço à direita da imagem */
    max-width: 120px; /* Define a largura máxima da imagem */
}


/* Adiciona animação ao passar o mouse sobre os botões */
#show-or-hide-snes:hover,
#show-or-hide-md:hover,
#show-or-hide-nes:hover,
#show-or-hide-sms:hover,
#show-or-hide-psone:hover {
    background-color: #5C3994; /* Cor de fundo ao passar o mouse */
    color: #CFCFD2; /* Cor do texto ao passar o mouse */
}

/* Media Query para tornar responsivo */
@media only screen and (max-width: 768px) {
    /* Botões SNES */
    #show-or-hide-snes {
        margin: 5px; /* Ajuste de margem para telas menores */
    }

    /* Botões Mega Drive/Genesis */
    #show-or-hide-md {
        margin: 5px; /* Ajuste de margem para telas menores */
    }

    /* Botões Nintendo */
    #show-or-hide-nes {
        margin: 5px; /* Ajuste de margem para telas menores */
    }

    /* Botões Sega Master System */
    #show-or-hide-sms {
        margin: 5px; /* Ajuste de margem para telas menores */
    }

    /* Botões Playstation */
    #show-or-hide-psone {
        margin: 5px; /* Ajuste de margem para telas menores */
    }
}

/* Use para copiar e personalizar os botões
de acordo com as cores dos videogames */

/* #show-or-hide- {
    background-color: ; /* Cor de fundo do botão */
/*  border: 1px solid #484344; /* Adicionando a borda do botão */
/*  color: ; /* Cor do texto do botão e também para agregar no evento de click */
/*  padding: 15px 32px; /* Espaçamento interno do botão */
/*  text-align: center; /* Alinhamento do texto */
/*  text-decoration: none; /* Remove sublinhado do texto */
/*  display: inline-block; /* Exibe o botão como um bloco */
/*  font-size: 16px; /* Tamanho da fonte */
/*  margin: 10px auto; /* Centralizar e adicionar margem superior e inferior */
/*  cursor: pointer; /* Altera o cursor para indicar que o botão é clicável */
/*  transition: background-color 0.3s, color 0.3s; /* Animação de transição */
/*  max-width: 200px; /* Define a largura máxima */
/*  border-radius: 8px; /* Borda não tão arredondada */
/*  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona sombra */
/*} */

.bodyimg {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura total da janela de visualização */
}

.bodyimg img {
    max-width: 90%; /* Define a largura máxima da imagem */
    max-height: 90%; /* Define a altura máxima da imagem */
    border-radius: 15px; /* Adiciona borda arredondada */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Adiciona sombra à imagem */
}

.footer-info {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
    background-color: #854CD6;
    border-radius: 8px;
    margin-top: 25px;
    padding: 10px;
    text-align: center; /* Centraliza o conteúdo horizontalmente */
}

.footer-info p {
    margin-bottom: 10px;
    color: #FFFF00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto */
}

.colaboration {
    color: #FFFF00;
    
}

.colaboration li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto */
}

.colaboration li a {
    width: 30px;
    height: 30px;
}
  
.social-media {
    list-style: none;
    padding: 0;
    margin: 30px;
    text-align: center; /* Centraliza os itens da lista */
}
  
.social-media li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.social-media li:last-child {
    margin-right: 0; /* Remove a margem direita do último item da lista */
}
  
.social-media li a img {
    width: 30px;
    height: 30px;
}
