body {
    background-color: #8C52FF;
    font-family: Arial, sans-serif;
    overflow-y: scroll; /* Adiciona uma barra de rolagem vertical */
}

/* Estilo para a barra de navegação */
.navbar {
    background-color: #854CD6; /* Cor de fundo */
    padding: 10px; /* Espaçamento interno */
    border-radius: 4px;
    display: flex; /* Usa flexbox */
    justify-content: space-between; /* Alinha os itens */
    align-items: center; /* Alinha os itens verticalmente */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha em telas menores */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
}

/* Estilo para o título e para o logotipo */
.title {
    display: flex; /* Usa flexbox para alinhar os itens */
    align-items: center; /* Alinha os itens verticalmente */
    flex-grow: 1; /* Permite que o título cresça para preencher o espaço restante */
    text-align: center;
}

.title h1 {
    color: #FFFF00; /* Cor do texto */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto */
}

.containpsone {
    background-color: #f0f0f0; /* Cor de fundo */
    border: 2px solid #ccc; /* Borda com cor e espessura */
    border-radius: 10px; /* Borda arredondada */
    padding: 20px; /* Espaçamento interno */
    margin: 20px; /* Margem externa */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.containpsone h1 {
    color: #333; /* Cor do título */
    font-size: 24px; /* Tamanho da fonte do título */
    margin-bottom: 15px; /* Margem inferior do título */
}

.containpsone h2 {
    color: #666; /* Cor do subtítulo */
    font-size: 20px; /* Tamanho da fonte do subtítulo */
    margin-bottom: 10px; /* Margem inferior do subtítulo */
}

.containpsone p {
    color: #444; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte do texto */
    line-height: 1.5; /* Altura da linha */
}

/* Media query para ajustar estilos em telas menores */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Muda a direção do flexbox para empilhar os itens verticalmente */
        text-align: center; /* Centraliza o texto */
    }
    .title {
        margin-bottom: 10px; /* Adiciona espaço abaixo do título */
    }
}